
li{
    background-color: rgb(223, 223, 231);
display: inline;
padding: 10px 20px;
margin: 20px 20px;
border-bottom: 1px solid;
    font-size: large;
    font-weight: bold;
    
}
body{
    background-color: rgb(197, 209, 209);
    text-align: center;
}
h1{
    color: brown;
}
h2{
    color: brown;
}
p{
    font-style: italic;
}